.message-display {
    white-space : nowrap;
    overflow : hidden;
    -o-text-overflow : ellipsis;    /* Opera < 10 */
    text-overflow :    ellipsis;
    max-width: 100px;
}

.go-to {
    width: 2rem;
    height: 2rem;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main {
    flex: 1;
    padding: 5rem;
}

footer {
    padding: 10px;
    text-align: center;
}

#admin-delete {
    position: relative;
    top : 10px;
    right: 10px;
}